{% extends 'base.html'%}

<!-- Styles block -->

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

<!-- Content block -->
{% block content %}

<div class="jumbotron" style="color:black">

    <h3>

        Today's Top Headlines

    </h3>

</div>
<!-- News Search section  -->
<div class="container">
    <form class="searchbox">
        <input type="text" name="news_query" placeholder="Search for News" class="form-control">
        <input type="submit"  value="Submit" class="btn btn-default">
    </form>
    <hr>
</div>

<div class="container">
    <!-- News Highlights section  -->
    <div>
        <div class="col-lg-9">
            {% for news_highlight in news_highlights %}

            <div class="card">
                <img src="{{news_highlight.img}}" alt="">
                <h4>{{ news_highlight.title}}</h4>
                <P>{{news_highlight.date}}</P>
                <P>{{news_highlight.description}}</P>
                <P>{{news_highlight.content}}</P>

            {% endfor %}
            </div>
        </div>
    </div>

    {% endblock%}
