{% extends 'base.html'%}

<!-- Styles block -->

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

<!-- Content block -->
{% block content %}

<div class="jumbotron" style="color:black">
    <div class="row">
        <h3 class="col-sm-9 text-center">
            Today's Top Headlines
        </h3>
        <!-- News Search section  -->
        <div class="col-sm-3 text-center">
            <form class="searchbox">
                <input type="text" name="news_query" placeholder="Search for News" class="form-control">
                <input type="submit" value="Submit" class="btn btn-default">
            </form>
        </div>
    </div>
</div>

<div class="container">
    <!-- News Highlights section  -->
    <div class="row">
        <div class="col-md-10">

            {% for news_highlight in news_highlights %}

            <div class="card">
                <img class="embed-responsive embed-responsive-1by1" src="{{news_highlight.img}}" alt="">
                <h4>
                    <a href="{{news_highlight.url}}" target="_blank">{{news_highlight.title}}</a>
                </h4>
                <P>{{news_highlight.date}}</P>
                <P>{{news_highlight.description}}</P>
                <P>{{news_highlight.content}}</P>
            </div>
            {% endfor %}

        </div>


        <div class="col-md-2">
            <h4 class="text-center">Click to Select a News Source</h4>

            {% for source in news_sources %}
            <a href="/sources/{{source.id}}">
            <h6>{{source.name}}</h6>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock%}
