{% extends 'base.html'%}

<!-- Content block -->
{% block content %}

<div class="jumbotron" style="color:black">

    <h3>

        Today's Top Headlines

    </h3>

</div>


<div class="container">
    <!-- News Highlights section  -->
    <div>
        <div class="col-lg-9">
            {% for news_highlight in news_highlights %}

            <div class="card">
                <img src="{{news_highlight.img}}" alt="">
                <h4>{{ news_highlight.title}}</h4>
                <P>{{news_highlight.date}}</P>
                <P>{{news_highlight.description}}</P>
                <P>{{news_highlight.content}}</P>

                {% endfor %}
            </div>
        </div>
    </div>

{% endblock%}
