{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block content %}
<div class="jumbotron text-justify">
    <h1>{{title}}</h1>
    <h3> Found {{ searched_news| count }} matches </h3>
</div>

<div class="container">
    <div class="row">
    <div class="col-md-10 offset-md-1">
        {% for searched_new in searched_news %}

        <div class="card">
        <img class="embed-responsive embed-responsive-1by1" src="{{searched_new.img}}" alt="">
        <h4>
            <a href="{{searched_new.url}}" target="_blank">{{searched_new.title}}</a>
        </h4>
        <P>{{searched_new.date}}</P>
        <h6>{{searched_new.description}}</h6>
        <P>{{searched_new.content}}</P>
        </div>
        {% endfor %}
    </div>
    </div>
</div>
{% endblock %}
